@import "src/styles/mixins";
@import "src/styles/variables";

.button {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  @include glass;
  transition: 0.1s transform;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.buttonText {
  font-size: 16px;
  color: $white;
}

.pressed {
  transform: scale(0.95);
}

.progress {
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  background-color: rgba(72, 18, 228, 0.4);
}